In [5]:
def chickens(count):
    if count >= 10:
        return 'Number of chickens: many'
    else:
        return 'Number of chickens: ' + str(count)
  # LAB(end solution)

In [6]:
def string_both_ends_3(s):
  if len(s) < 3:
        return ''
  else:
        return s[:3] + s[-3:]

In [18]:
def first_char_replace(s):
    first_char = s[0]
    return first_char + s[1:].replace(first_char.lower(), '@').replace(first_char.upper(), '@')

In [9]:
def string_jumble(a, b):
    new_a = b[:2] + a[2:]
    new_b = a[:2] + b[2:]
    return new_a + ' ' + new_b

In [11]:
def match_first_last(words):
    count = 0
    for word in words:
        if len(word) >= 2 and word[0] == word[-1]:
            count += 1
    return count

In [12]:
def group_strings(words):
    a_words = [word for word in words if word.startswith('a')]
    other_words = [word for word in words if not word.startswith('a')]
    return sorted(a_words) + sorted(other_words)

In [16]:
def sort_last(tuples):
   return sorted(tuples, key=lambda x: x[-1])

In [19]:
def main():
  print ('Number of chickens')
  print(chickens(4))
  print(chickens(9))
  print(chickens(10))
  print(chickens(99))

  print ('\n3 characters from both ends')
  print(string_both_ends_3('spring'))
  print(string_both_ends_3('Intelligence'))
  print(string_both_ends_3('a'))
  print(string_both_ends_3('xyz'))

  print ('\nReplace occurrences of first character')
  print(first_char_replace('babble'))
  print(first_char_replace('aardvark'))
  print(first_char_replace('google'))
  print(first_char_replace('Ooogle'))

  print ('\nString Jumble')
  print(string_jumble('mix', 'pod'))
  print(string_jumble('dog', 'dinner'))
  print(string_jumble('gnash', 'sport'))
  print(string_jumble('pezzy', 'firm'))

  print ('\nMatching first and last characters')
  print(match_first_last(['aba', 'xyz', 'aa', 'a', 'bbb']))
  print(match_first_last(['', 'x', 'ay', 'ayx', 'ax']))
  print(match_first_last(['aaa', 'be', 'abc', 'aello']))

  print ('\nGroup string in a list')
  print(group_strings(['bbb', 'ccc', 'axx', 'xzz', 'aaa']))
  print(group_strings(['ccc', 'abb', 'aaa', 'xcc', 'aaa']))
  print(group_strings(['mix', 'xyz', 'apple', 'xanadu', 'aardvark']))

  print ('\nsort_last')
  print(sort_last([(1, 3), (3, 2), (2, 1)]))
  print(sort_last([(2, 3), (1, 2), (3, 1)]))
  print(sort_last([(1, 7), (1, 3), (3, 4, 5), (2, 2)]))

In [20]:
'''
Python files .py are modules. Modules can define variables, functions, and classes.
When a Python interpreter reads a Python file, it first sets a few special variables.
Then it executes the code from the file.

One of those variables is called __name__.

When the interpreter runs a module, the __name__ variable will be set as  __main__
if the module that is being run is the main program.

If the code is importing the module from another module, then the __name__
variable will be set to that moduleâ€™s name.
'''
# Standard boilerplate to call the main() function.
if __name__ == '__main__':
  main()

Number of chickens
Number of chickens: 4
Number of chickens: 9
Number of chickens: many
Number of chickens: many

3 characters from both ends
spring
Intnce

xyzxyz

Replace occurrences of first character
ba@@le
a@rdv@rk
goo@le
O@@gle

String Jumble
pox mid
dig donner
spash gnort
fizzy perm

Matching first and last characters
3
0
1

Group string in a list
['aaa', 'axx', 'bbb', 'ccc', 'xzz']
['aaa', 'aaa', 'abb', 'ccc', 'xcc']
['aardvark', 'apple', 'mix', 'xanadu', 'xyz']

sort_last
[(2, 1), (3, 2), (1, 3)]
[(3, 1), (1, 2), (2, 3)]
[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

**task1**

In [21]:
def isPalindrome(s):
    s = s.lower()
    return s == s[::-1]

In [30]:

a='mom'
print(isPalindrome(a))
b='hello'
print(isPalindrome(b))

True
False

**task2**

In [33]:
import numpy as np

def flatten_list(nested_list):
    return np.concatenate(nested_list).tolist()

In [53]:
nested_list = [[1, 2, 3], [4, 5]]
flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5]

**task3**

In [35]:
def common_elements(list1, list2):
    return list(set(list1) & set(list2))

In [41]:
list1 = [5,6,5]
list2 = [5, 6,6, 7, 8]
common = common_elements(list1, list2)
print(common)

[5, 6]

**task4**

In [44]:
def check(s1, s2):

    # the sorted strings are checked
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")

# driver code
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

**task5**

In [45]:
def binary_search(arr, l, r, x):
    if r >= l:
        mid = l + (r - l) // 2
        if arr[mid] == x:
            return mid
        elif arr[mid] > x:
            return binary_search(arr, l, mid - 1, x)
        else:
            return binary_search(arr, mid + 1, r, x)
    else:
        return -1

In [49]:

list = [2, 3, 4, 10, 40]
x = 3
result = binary_search(list, 0, len(list) - 1, x)
print("Element found at index:", result)

Element found at index: 1

**task6**

In [50]:
def merge_sort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        left_half = arr[:mid]
        right_half = arr[mid:]

        merge_sort(left_half)
        merge_sort(right_half)

        i = j = k = 0

        while i < len(left_half) and j < len(right_half):
            if left_half[i] < right_half[j]:
                arr[k] = left_half[i]
                i += 1
            else:
                arr[k] = right_half[j]
                j += 1
            k += 1

        while i < len(left_half):
            arr[k] = left_half[i]
            i += 1
            k += 1

        while j < len(right_half):
            arr[k] = right_half[j]
            j += 1
            k += 1

    return arr

In [51]:
list=[6,3,5,6,89,1,0,-1,3,7,9,3]
print(merge_sort(list))

[-1, 0, 1, 3, 3, 3, 5, 6, 6, 7, 9, 89]

 **task7**

In [54]:
def frequency_counter(arr):
    freq = {}
    for item in arr:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    return freq

In [55]:
list =[1, 2, 2, 3, 4, 2]
frequency_counter(list)

{1: 1, 2: 3, 3: 1, 4: 1}

**task8**

In [56]:
def count_distinct_elements(arr):
    freq = {}
    for item in arr:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    return len(freq)

In [58]:
list=[1, 2, 2, 3, 4, 2]
count_distinct_elements(list)

4

**task9**

In [59]:
def union_and_intersection(set1, set2):
    union_set = set1.union(set2)
    intersection_set = set1.intersection(set2)
    return (union_set, intersection_set)

In [60]:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = union_and_intersection(set1, set2)
print("Union:", result[0])
print("Intersection:", result[1])

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

**task10**

In [61]:
def get_unique_values(d):
    unique_values = []
    for value in d.values():
        if value not in unique_values:
            unique_values.append(value)
    return unique_values

In [62]:

d = {'a': 1, 'b': 2, 'c': 2, 'd': 3}
result = get_unique_values(d)
print("Unique values:", result)

Unique values: [1, 2, 3]

***task11***

In [66]:
def most_common_keys(input_dict):

    frequency = {}
    for value in input_dict.values():
        if value in frequency:
            frequency[value] += 1
        else:
            frequency[value] = 1

    max_frequency = max(frequency.values())
    most_common = [key for key, val in input_dict.items() if frequency[val] == max_frequency]

    return most_common

In [67]:
# Example input
input_dict = {'a': 3, 'b': 2, 'c': 3, 'd': 2, 'e': 3}
print(most_common_keys(input_dict))

['a', 'c', 'e']

**task12**

In [74]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 3, 'c': 4}

**task14**

In [75]:
def find_duplicates(lst):
    duplicates = []
    for i in lst:
        if lst.count(i) > 1 and i not in duplicates:
            duplicates.append(i)
    return duplicates

In [77]:
list=[1, 2, 2, 3, 4, 2]
find_duplicates(list)

[2]

**task13**

In [86]:
def filter_list_of_dicts(lst, key):
    return [d for d in lst if key in d]

In [87]:
dict_list = [{'type':'type1'},{'type':'type2'},{'type':'type2'}, {'type':'type3'}]
key = 'type'
filtered_lst = filter_list_of_dicts(dict_list, key)
print(filtered_lst)

[{'type': 'type1'}, {'type': 'type2'}, {'type': 'type2'}, {'type': 'type3'}]